<div class="articleTitle">
  メッセージ
</div>
<div class="contents row">
  <% @anotherEntries.each do |e| %>
    <%= link_to room_path(e.room.id),class: "member" do %>
      <%= e.user.nickname %>さん<br>
    <% end %>
  <% end %>
</div>