<div class="container">
    <div class="container__left">
      <div class="container__left--image" ><%= image_tag post.user.image, size: '55x55' %></div>
    </div>
    <div class="container__right">
      <div class="container__right__top">
         <%= link_to post.title, post_path(post.id), class: "container__right__top__title" %>
      </div>
      <div class="container__right__bottom">
         <div class="container__right__bottom__username">
          <%= link_to post.user.nickname, user_path(post.user), class: "container__right__bottom__userName__btn" %>
        </div>
        <div class="container__right__bottom__date">
          <%= post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
        </div>
      </div>
    </div>
  </div>