body{
  background-color: #f5f5f5;
  width: 100%;
  min-width: 500px;
  margin: 0;

  .header{
    height: 60px;
    width: 100%;
    padding: 0 82px;
    overflow: scroll;
    background-color: #f5f5f5;
    color: #005151;
    display: flex;
    top: 0;
    position: fixed;
    justify-content: space-between;
    z-index: 1;
    
    &__title{
      font-size: 35px;
      line-height: 60px;
      font-weight: bold;
      text-decoration: none;
      transition: .3s;
      background: linear-gradient(#103675, #009999);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      font-family: 'Quicksand', sans-serif;
      &:hover{
        opacity: 0.75;
        transition:.3s;
      }
    }
    &__right{
      width: 120px;
      min-width: 100px;
      height: 45px;
      margin-top: 2.5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      line-height: 50px;
      color: #103675;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        border-bottom: 1px solid #103675;
      }
    }
    &__left{
      width: 120px;
      min-width: 100px;
      height: 45px;
      margin-top: 2.5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      line-height: 50px;
      color: #103675;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        border-bottom: 1px solid #103675;
      }
    }
    &__center{
      width: 120px;
      min-width: 100px;
      height: 45px;
      margin-top: 2.5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      line-height: 50px;
      color: #103675;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        border-bottom: 1px solid #103675;
      }
    }
    &__member{
      width: 120px;
      min-width: 100px;
      height: 45px;
      margin-top: 2.5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      line-height: 50px;
      color: #103675;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        border-bottom: 1px solid #103675;
      }
    }
    &__mypage{
      width: 120px;
      min-width: 100px;
      height: 45px;
      margin-top: 2.5px;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      line-height: 50px;
      color: #103675;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        border-bottom: 1px solid #103675;
      }
    }
  }
  .banner{
    width: 20%;
    min-width: 0px;
    min-height: 0%;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 80px;

    &__Vocal{
      width: 100%;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        padding: 5px;
      }
    }

    &__Guiter{
      width: 100%;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
      }
    }

    &__Bass{
      width: 100%;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
      }
    }
     
    &__Piano{
      width: 100%;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
      }
    }
    
    &__Drums{
      width: 100%;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
      }
    }
  }
  .about_os{
    color: #eee;
    padding: 1em;
    text-shadow: 1px 2px 3px #888;
    margin-bottom: 1em;
    background-color: #103675;
    width: 100%;
    min-width: 500px;
    font-weight: bold;
    margin-top: 55px;
    background-image: url("https://images.unsplash.com/photo-1420161900862-9a86fa1f5c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");

    .os-container {
      display: flex;
    }

    &__right{
      height: 55px;
      width: 50%;
      min-width: 150px;
      text-align: center;
      transition:.3s;
      line-height: 55px;
      color: white;
      font-weight: bold;
      text-decoration: none;
      border-radius: 2px;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        background-color: #fff;
        color: #103675;
      }
    }
    &__left{
      margin-left: 10px;
      height: 55px;
      width: 50%;
      min-width: 150px;
      text-align: center;
      line-height: 55px;
      color: white;
      font-weight: bold;
      border-radius: 2px;
      text-decoration: none;
      transition: .3s;
      &:hover{
        opacity: 0.75;
        transition:.3s;
        background-color: #fff;
        color: #103675;
      }
    }
  }
  .contents{
    margin: 0px 0px 10px 80px;
    height:100%;
    width: 65%;
    min-width: 500px;
    margin-top: 50px;
    padding-bottom: 50px;

    form{
      height: 40px;
      min-width: 15%;
      margin-left: 50px;
      padding-bottom: 100px;
    }
    input.search-btn{
      margin-left: 50px;
      margin-top: 20px;
      width: 15%;
      height: 40px;
      background-color: #FF9900;
      font-weight: bold;
      font-size: 14px;
      color:#fff;
      -webkit-appearance: initial;
      cursor: pointer;
    }
    .LoginTitle{
      line-height: 90px;
      font-size: 25px;
      font-weight: bold;
      color: #333;
      margin-left: 50px;
    }
    .Signup{
      font-size: 25px;
      color: #333;
      font-weight: bold;
      margin-left: 50px;
      line-height: 90px;
    }
    .articleTitle{
      font-size: 25px;
      color: #333;
      font-weight: bold;
      margin-left: 50px;
      line-height: 90px;
    }
    .log{
      font-size: 20px;
      font-weight: bold;
      margin-left: 50px;
      color: #555555;
    }

    .actions{
      height: 50px;
      width: 150px;
      margin: 35px;

      input{
        width: 200px;
        height: 40px;
        margin-left: 50px;
        line-height: 40px;
        font-size: 25px;
        font-weight: bold;
        color: #555555;
        border-radius: 5px;
        -webkit-appearance: initial;
      }
    }
    .field{
      font-size: 15px;
      margin-left: 50px;
      color: #555555;
      font-weight: bold;

      input{
        height: 40px;
       font-size: 20px;
       padding-right:100px;
      }
    }
    .contentsHead{
      border-bottom: 1px solid #ccc;
      padding: 0 10px;
      color: #333;
      line-height: 40px;
      padding-left: 62px;
      font-size: 1.142em;
      font-weight: bold;
      background-size: 52px 41px;
      background-repeat: no-repeat;
      background-image: url(https://oursounds.net/common/images_sp/bg_hl_new.png);
    }
    .pagination{
      font-weight: bold;
      font-family: 'Quicksand', sans-serif;
      font-size: 25px;
      margin-top: 50px;
      background: linear-gradient(#103675, #009999);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      margin-left: 30px;
    }
    .content{
      padding: 10px;
      border-bottom: 1px solid #cccccc;
      min-width: 300px;
      display: flex;

      &__left{
        padding-right: 20px;
        &--image{
          height: 55px;
          width: 55px;
        }
      }
      &__right{
        width: 100%;
        min-width: 300px;

        &__top{
          font-size: 20px;
          font-weight: bold;
          color: #333;

          &__title{
            text-decoration: none;
            color: #333;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        &__bottom{
          font-size: 15px;
          color: #333;
          display: flex;

          &__userName{

            &__btn{
              text-decoration: none;
              color: #333;
              font-weight: bold;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          &__date{
            margin-left: 20px;
          }
        }
      }
      &__title{
        background-color: #103675;
        width: 100%;
        height: 50px;
        margin-top: 68px;
      
        &__main{
          font-size: 15px;
          font-weight: bold;
          line-height: 50px;
          text-align: center;
          color: #fff;
        }
      }
      &__caution{
        list-style: none;
        margin-left: 70px;
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #ff3300;
      }
    }
    .postTitle{
      padding-top: 20px;
      min-width: 300px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    .postDate{
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      margin-top: 10px;
    }
    .postAuthor{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 10px;

      &__edit{
        display: block;
        width: 80px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        background-color:#103675;
        font-weight: bold;
        padding: 0 10px;
        text-decoration: none;
        margin-right: 10px;
      }
      &__delete{
        display: block;
        border-radius: 5px;
        color: #ffffff;
        background-color:#103675;
        width: 80px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        padding: 0 10px;
        text-decoration: none;
        margin-left: 10px;
      }
    }
    .postText{
      margin: 20px 30px;
      font-weight: bold;
      color: #333;

      li{
        font-weight: bold;
        color:#103675;
        font-size: 20px;
        border-bottom:solid 2px #999;
        list-style: none;
      }
    }
  }
  .form{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;

    select{
      width: 100%;
      height: 45px;
      font-size: 14px;
      font-weight: bold;
      border: solid 2px gray;
      overflow: auto;
    }
    p{
      margin-bottom: 0;
      margin-top: 40px;
    }
    label{
      font-weight: bold;
      margin-left: 10px;
    }
    &__area{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    }
    &__day{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    }
    &__course{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    }
    &__style{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    }
    &__part{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    }
    &__genre{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
    }
    &__sound{
      display: block;
      width: 100%;
      height: 35px;
      margin-top: 10px;
      border: solid 2px gray;
      border-radius: 5px;
      font-size: 15px;
    }
    &__title{
      display: block;
      width: 100%;
      height: 50px;
      margin-top: 10px;
      border: solid 2px gray;
      border-radius: 5px;
      font-size: 15px;
    }
    &__text{
      display: block;
      width: 100%;
      height: 200px;
      margin-top: 10px;
      border: solid 2px gray;
      border-radius: 5px;
      font-size: 15px;
    }
    &__btn{
      display: block;
      width: 40%;
      background-color: #FF9900;
      color: #fff;
      border-radius: 7px;
      margin: 50px auto;
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      padding: 15px;
      cursor: pointer;
      -webkit-appearance: initial;
    }
  }
  .user{
    padding: 15px 30px;
  }
  .mm{
   font-size: 20px;
   font-weight: bold;
   color: #333;
  }
  .gm{
    font-weight: bold;
    font-size: 12px;
  }
  #message_content{
    width: 60%;
    min-height: 50px;
    font-size: 15px;
    border: 1px solid #999;
  }
  .sc{
    font-size: 15px;
    line-height: 30px;
    display: block;
    font-weight: bold;
    height: 30px;
    color:#fff;
    cursor: pointer;
    border-radius: 4px;
    background-color: #ff9900;
    width: 100px;
    -webkit-appearance: initial;
  }
}

*{box-sizing:border-box}